/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.portfolio__inner::before {
		bottom: 60px;
		left: -15px;
	}
	.portfolio__inner::after {
		right: -15px;
	}
	.testimonials__slide-wrap--content-wrap {
		top: 40px;
	}
	.testimonials-slider.owl-theme .owl-dots {
		bottom: 5px;
		left: 55%;
	}
	.footer-btn {
		font-size: 2.6rem;
	}
	.main-footer__email a,
	.main-footer__phone a {
		font-size: 2.2rem;
	}
	.main-footer__description a {
		font-size: 2rem;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.w-w-d__screen-form .btn-w-w-d-form	{
		margin: 0 auto;
	}
	.portfolio__inner::before {
	    bottom: 115px;	    
	}	
	.portfolio__inner {
		margin-bottom: -80px;
	}
	.portfolio__inner--content ul,
	.portfolio__inner--btn-wrap {
		padding-left: 80px;
	}
	.our-partners__content a {
		font-size: 2.4rem;
	}
	.testimonials__slide-wrap--content-wrap {
		max-width: 480px;
		padding: 35px;
	}
	.testimonials-slider.owl-theme .owl-dots {
		right: -5%;
		bottom: 0;
	}
	.w-w-d__screen-form .btn-testimonials {
		margin-bottom: 30px;
	}
	.main-footer__email p,
	.main-footer__phone p,
	.main-footer p {
		font-size: 1.6rem;
	}
	.main-footer__email a, 
	.main-footer__phone a {
	    font-size: 1.8rem;
	}
	.footer-btn {
	    font-size: 2.2rem;
	}
	.main-footer__description {
		padding-top: 30px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	section, header, footer {
		overflow: hidden;
	}
	.w-w-d__screen-form .input-group {
		margin: 0 auto 45px;
	}
	.w-w-d__screen-form h2 {
		font-size: 3.6rem;
	}
	.portfolio__inner--photo {
		min-height: 290px;
	}
	.portfolio__inner::before {
	    bottom: 100px;
	}
	.portfolio__inner--head h3 {
		font-size: 2.4rem;
	}
	.portfolio__inner--content ul li {
		font-size: 1.8rem;
	}
	.portfolio__inner--content ul, 
	.portfolio__inner--btn-wrap {
	    padding-left: 50px;
	}
	.our-partners__content a,
	.our-partners__content em {
		font-size: 1.8rem;
	}
	.our-partners__content em {
		max-width: 180px;
		min-height: 115px;
		padding: 35px 0;
	}
	.our-partners__content-logo {
		margin-bottom: -60px;
	}
	.testimonials__slide-wrap--content h3,
	.testimonials__slide-wrap--content h3 span {
		font-size: 2.4rem;
		margin-bottom: 0;
		margin-right: 0;
	}
	.testimonials__slide-wrap--content span {
		font-size: 2.2rem;
	}
	.testimonials__slide-wrap--content p,
	.testimonials__slide-wrap--content a {
		font-size: 1.8rem;
	}
	.testimonials__slide-wrap--content-wrap {
		max-width: 305px;
		padding: 20px;
		top: 85px;
		left: 405px;
	}
	.testimonials-slider.owl-theme .owl-dots {
	    left: -5%;
	    bottom: -65px;
	}
	.footer-btn {
	    font-size: 1.6rem;
	}
	.main-footer__developet-wrap {
		padding-top: 30px;
	}
}
/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {
	.portfolio__inner::before {
		bottom: 0;
		left: 0;
	}
	.portfolio__inner::after {
		right: 0;
	}
	.portfolio__inner {
		margin-bottom: 0;
	}
	.portfolio__inner--head h3 {
		font-size: 3.6rem;
	}
	.portfolio__inner--content ul, 
	.portfolio__inner--btn-wrap {
	    padding-left: 145px;
	}
	.our-partners__content a, 
	.our-partners__content em {
	    font-size: 2.8rem;
	}
	.our-partners__content em {
		max-width: 360px;
		min-height: 200px;
		padding: 70px 25px;
	}
	.our-partners__content-logo {
		margin-bottom: 25px;
	}
	.testimonials__slide-wrap--content-wrap {
		max-width: 290px;
		top: 45px;
	}
	.testimonials__slide-wrap--content h3, 
	.testimonials__slide-wrap--content h3 span {
		font-size: 3rem;
	}
	.main-footer {
		padding-bottom: 25px;
	}
	.main-footer__email p, 
	.main-footer__phone p, 
	.main-footer p {
		font-size: 2.4rem;
	}
	.main-footer__email a, 
	.main-footer__phone a {
		font-size: 2.6rem;
	}
	.footer-btn {
		font-size: 3.4rem;
		width: 80%;
		margin: 0 auto 25px;
	}
	.main-footer__description {
		text-align: center;
	}
}
@media only screen and (max-width : 668px) {
	.w-w-d__screen-form h2 {
		font-size: 3.2rem;
	}
	.w-w-d__screen-form h2 span,
	.portfolio__head h2 {
		font-size: 3.6rem;
	}
	.portfolio__inner::before {
		left: -15px;
	}
	.portfolio__inner::after {
		right: -15px;
	}
}
/* Custom, iPhone 6 */
@media only screen and (max-width : 667px){

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {
	.testimonials__slide-wrap--content-wrap {
		max-width: 515px;
		min-height: 320px;
		padding: 35px;
		position: relative;
		top: -75px;
		left: 10px;
	}
	.testimonials__slide-wrap--content h3 {
		margin-right: 25px;
	}
	.testimonials-slider.owl-theme .owl-dots {
		bottom: -15px;
	}
	.main-footer__email p, 
	.main-footer__phone p, 
	.main-footer p {
		font-size: 2rem;
	}
	.main-footer__email a, 
	.main-footer__phone a {
	    font-size: 2.2rem;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .portfolio__inner::before {
    	bottom: 35px;
    }
    .portfolio__inner--content ul, 
    .portfolio__inner--btn-wrap {
	    padding-left: 95px;
	}
	.our-partners__content a {
	    font-size: 2.4rem;
	}	
	.our-partners__content em {
	    max-width: 290px;
	    min-height: 135px;
	    font-size: 2rem;
	    padding: 45px 5px;
	}
	.testimonials__slide-wrap--content-wrap {
		max-width: 420px;
		top: -170px;
		left: 15px;
	}
	.testimonials-slider.owl-theme .owl-dots {
	    bottom: 115px;
	}
	.testimonials-slider {
	    margin-bottom: -40px;
	}
	.main-footer {
		padding-top: 30px;
	}
	.main-footer__email a, 
	.main-footer__phone a {
	    font-size: 1.8rem;
	}
}
@media only screen and (max-width : 416px) {
	.portfolio__inner::before {
	    bottom: 75px;
	}
	.portfolio__inner--content ul {
	    padding-left: 65px;
	}
	.portfolio__inner--btn-wrap {
		padding-left: 0;
	}
	.portfolio__inner--btn-wrap .btn-blue {		
		max-width: 450px;	
	}
	.w-w-d__screen-form .btn-w-w-d-form {
		width: 95%;
	}
	.our-partners__content-logo {
		min-height: 85px;
	}
	.our-partners__content a {
		font-size: 1.8rem;
	}
	.our-partners__content em {
	    max-width: 200px;
	    min-height: 130px;
	    font-size: 1.4rem;
	    padding: 42px 5px;
	}
	.testimonials__slide-wrap--content-wrap {
	    max-width: 350px;
	    padding: 25px;
	    top: -230px;
	}
	.testimonials__slide-wrap--content h3, 
	.testimonials__slide-wrap--content h3 span {
	    font-size: 3.4rem;
	}
	.footer-btn {
		width: 100%;	
	}
	.main-footer p {
	    font-size: 1.4rem;
	}
	.main-footer__description a {
	    font-size: 1.2rem;
	}
}
/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	
}
@media only screen and (max-width : 377px) {
	.portfolio__inner::before {
	    bottom: 95px;
	}
	.portfolio__inner--content ul {
	    padding-left: 45px;
	}
	.testimonials__slide-wrap--content-wrap {
		max-width: 315px;
		top: -270px;
	}
	.testimonials-slider.owl-theme .owl-dots {
	    bottom: 225px;
	}
	.testimonials-slider {
	    margin-bottom: -140px;
	}
}
/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {	

}
@media only screen and (max-width : 360px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
}