@font-face {
	font-family: "ProximaNova";
	src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
	src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
			 url("fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaBold";
	src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot");
	src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
			 url("fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaSemiBold";
	src: url("fonts/ProximaNovaSemiBold/proxima-nova-semibold.eot");
	src: url("fonts/ProximaNovaSemiBold/proxima-nova-semibold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ProximaNovaSemiBold/proxima-nova-semibold.woff") format("woff"),
			 url("fonts/ProximaNovaSemiBold/proxima-nova-semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}